* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    margin:0
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}


.container {
    width: 100%;
    background: linear-gradient(90deg, #b1f0f9, #90f6ea);
    margin: 0;
}

/* Header */

header{
    display: flex;
    position: fixed;
    height: 4rem;
    background: white;
    /* background: linear-gradient(90deg, #b1f0f9, #90f6ea); */
    top: 0;
    min-height: 3rem;
    justify-content: space-around;
}

.logoimg{
    width: 55%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    padding-left: 3rem;
}

.logotext {
    font-family: "barlow Condensed";
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: -0.2rem;
    color: #04abf8;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 1rem;
    padding-right: 40rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 15rem;
    font-family:"lato";
    color: #0071B2;
    text-decoration: none;
}

.nav-link:hover{
    color: #00588b;
}

/* ----------------------Header--------------------------- */

/* ---------------------Content--------------------------- */
.content{
    display: flex;
    position: relative;
    width: auto;
    max-width: 1400px;
    text-align: center;
    padding-top: 5rem;
}

.contdesc{
    width: 30rem;
    text-align: left;
    padding: 9rem 0 0 5rem;
}

.description{
    font-family: "barlow Condensed";
    font-size: 10rem;
    font-weight: 400;
    letter-spacing: -0.2rem;
    line-height: 8rem;
    color: #ffffff;
    margin:0;
}

.posvideo {
    display: inline-block;
    width:470px; 
    height: 300px;
    background-color: #FFF;
    bottom: 25rem;
    left: 16rem;
    border-radius: 10px;
}

#video {
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 0.55rem;
}

.pstyle {
    display: inline-block;
    width: 35%;
    font-family:"lato";
    font-weight: 3rem;
    color: #0071B2;
    text-align: left;
    right: 9rem; 
    top: 32rem
}