body {
    margin:0
}

.container {
    width: 100%;
    background: linear-gradient(90deg, #b1f0f9, #90f6ea);
    margin: 0;
}

/* Header */

.fixednav{
    display: block;
    position: fixed;
    height: 4rem;
    width:98%;
    background-color: #effffd9d;
    border-radius: 25px;
    top: 1%;
    left: 1%;
    z-index: 1;
}

.logoimg{
    width: 2.2rem;
    display: inline-block;
    padding-left: 2.2rem;
    margin: 0;
}

.logotext {
    display: inline-block;
    font-family: "barlow Condensed";
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: -0.2rem;
    color: #04abf8;
    margin: 0;
}

#navbar {
    display: inline-block;
    padding-left: 35rem;
    text-align: center;
}

.nav-link {
    display: inline-block;
    width: 6rem;
    font-family:"lato";
    color: #0071B2;
    text-decoration: none;
}

.nav-link:hover{
    color: #00588b;
}

.navpadd {
    padding-left: 1rem;
}

/* ----------------------Header--------------------------- */

/* ---------------------Content--------------------------- */
.content{
    display: flex;
    position: relative;
    width: auto;
    max-width: 1400px;
    text-align: center;
    padding-top: 5rem;
}

.contdesc{
    width: 30rem;
    text-align: left;
    padding: 9rem 0 0 5rem;
}

.description{
    font-family: "barlow Condensed";
    font-size: 10rem;
    font-weight: 400;
    letter-spacing: -0.2rem;
    line-height: 8rem;
    color: #ffffff;
    margin:0;
}

.posvideo {
    display: inline-block;
    width:470px; 
    height: 300px;
    background-color: #FFF;
    bottom: 25rem;
    left: 16rem;
    border-radius: 10px;
}

#video {
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 0.55rem;
}

.pstyle {
    display: inline-block;
    width: 35%;
    font-family:"lato";
    font-weight: 3rem;
    color: #0071B2;
    text-align: left;
    right: 9rem; 
    top: 32rem
}